<!--<p id="notice"><%#= notice %></p>-->


<p align="right" class="navbar-text pull-left">
  <% if admin_signed_in? %>
    Logged in as <strong> <%= current_admin.email %></strong>.
    <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %><br>
    <%= link_to 'Edit profile', edit_admin_registration_path,  :class => 'navbar-link' %>
  <%end %>

</p>
<h1>Admin's Dashboard</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <h3><%= link_to 'Create Student Account', new_student_registration_path %></h3>
  <h3><%= link_to 'Create Librarian Account', new_librarian_registration_path %></h3>
  <h3><%= link_to 'View Librarian Signup requests', get_signupapprovals_path %></h3>
  <h3><%= link_to 'View Students with checked out books', studentcheckedout_path %></h3>
  <h3><%= link_to 'Manage Users', getallusers_path %></h3>
  <h3><%= link_to 'Manage Books', books_path %></h3>
  <h3><%= link_to 'Manage Libraries', :libraries %></h3>
  <h3><%= link_to 'View all Hold Requests', :showrequestsforadmin %></h3>
  <h3></h3>

</table>

<br>

