<%= form_with(local: true) do |form| %>

<h2>
Student
</h2>
<div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

<div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= link_to '<button type="button">Sign Up</button>'.html_safe, new_student_path %>
  </div>

  <div class="actions">
    <%= link_to '<button type="button">Sign In</button>'.html_safe, students_path %>
  </div>

  <% end %>