<!--<p id="notice"><%#= notice %></p>-->

<p>
  <strong>Name:</strong>
  <%= @student.name %>
  <br>
  <strong>Email:</strong>
  <%= @student.email %>
  <br>
  <strong>Education Level:</strong>
  <%= @student.education_level %>
  <br>
  <strong>University:</strong>
  <%= @university.name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %>
<%= link_to 'Back', students_path %>
