<h3>Checked out books for <%=@lib.name %></h3>
<table>
  <thead>
  <tr>
    <th colspan="3">Student Name</th>
    <th colspan="3">Email ID</th>
    <th colspan="3">Education Level</th>
    <th colspan="3">Book Name</th>
  </tr>
  </thead>
  <tbody>
  <% @hists.each do |hist| %>
    <% hist.each do |h| %>
      <tr>
        <td colspan="3"> <%= Student.find(h.student_id).name %> </td>
        <td colspan="3"> <%= Student.find(h.student_id).email %> </td>
        <td colspan="3"> <%= Student.find(h.student_id).education_level %> </td>
        <td colspan="3"> <%= Book.find(h.book_id).title %> </td>
      </tr>

    <% end %>
  <% end %>
  </tbody>
</table>
<%=link_to "Back to dashboard", librarians_path %>